@use '../modulos/variables' as *; 


#presentacion{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .contenedor {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contenedor_texto {
        display: flex;
        align-items: center;
        width: 700px;
        z-index: 1;
    }
    .contenedor_texto h1 {
        margin-right: 20px;
        font-size: 6rem;
        color: white;
    }
    span{
        color:$color2;
    }
    .barra__escritura {
        width: 3px;
        height: 70px;
        margin-left: 5px;
        background-color: white;
        transform: rotateZ(10deg);
        animation: barra-animacion 1s ease infinite;
    }
    .contenedor__texto__animacion {
        display: flex;
        color: white;
        font-size: 3rem;
    }


   
    
    // cards servicios

    #servicios{
        width: 100vw;
        height: 100vh;
        background-color: $color1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .cards{
            width: $width;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        .card{
            background-color: black;
            padding: 40px 20px;
            border-radius: 5px;
            border: 3px solid  white;
        
        }

        h2{
            color: white;
            font-weight: 700;
            text-align: center;
        }
    }

#servicios .margen{
    padding: 10px;
}


// seccion agendar reunión

#reunion{
    width: 100vw;
    height: 80vh;
    background-color: #a0a0a0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .espacio{
        padding: 30px 0;
    }

    .tarjeta{
        width: $width;
        height: 22rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: $color1;

        

        .texto1{
            width: 49%;
            height: 22rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            padding: 20px;
            background-color: black;

            h4{
                font-size: 3.5rem;
            }
        }
        .texto{
            width: 49%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            padding: 20px;
            line-height: 100px;
        }





    }

  
}


// seccion agendar reunión

#creative{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    background-image: url(img/istockphoto-2165505447-1024x1024.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    .espacio{
        padding: 30px 0;
    }

    .tarjeta{
        width: $width;
        height: 22rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: $color1;

        

        .texto1{
            width: 49%;
            height: 22rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            padding: 20px;
            background-color: black;

            h4{
                font-size: 3.5rem;
            }
        }
        .texto{
            width: 49%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            padding: 20px;
            line-height: 100px;
        }





    }

  
}