* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

#menu {
  background-color: #2C2C2C;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu .categorias {
  align-content: center;
  justify-content: center;
  align-items: center;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* enlaces del menu */
#menu ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  padding: 10px 20px;
  text-transform: uppercase;
}

#menu ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

#menu a:hover {
  color: #a0a0a0;
}

#presentacion {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#presentacion .contenedor {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

#presentacion .foto-inicio {
  background-image: url(/img/BNclose-hands-using-smart-phone-course-deadline-businesswoman-texting-late-night-while-working-important-project-using-smartphone.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.contenedor_texto {
  display: flex;
  align-items: center;
  width: 700px;
  z-index: 1;
}

.contenedor_texto h1 {
  margin-right: 20px;
  font-size: 6rem;
  color: white;
}

span {
  color: #E53E1F;
}

.barra__escritura {
  width: 3px;
  height: 70px;
  margin-left: 5px;
  background-color: white;
  transform: rotateZ(10deg);
  animation: barra-animacion 1s ease infinite;
}

.contenedor__texto__animacion {
  display: flex;
  color: white;
  font-size: 3rem;
}

@keyframes color {
  0% {
    background-color: #232323;
  }
  25% {
    background-color: #2c2c2c;
  }
  50% {
    background-color: #373737;
  }
  75% {
    background-color: #484848;
  }
  100% {
    background-color: #656565;
  }
}
#barra {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  animation: color 4s infinite;
}

#barra .contenedor-card {
  width: 990px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-servicios {
  height: auto;
  background-color: snow;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.0666666667);
  transition: all 0.3s;
  overflow: hidden;
}

.margen {
  padding: 10px;
}

#barra .contenedor-imagen .foto1 {
  background-image: url(img/istockphoto-2165505447-1024x1024.jpg);
}

#barra .contenedor-imagen .foto2 {
  background-image: url(img/istockphoto-694960328-1024x1024.jpg);
}

#barra .contenedor-imagen .foto3 {
  background-image: url(img/istockphoto-1019702098-1024x1024.jpg);
}

#barra .contenedor-imagen .foto4 {
  background-image: url(img/istockphoto-1759364452-1024x1024.jpg);
}

#barra .contenedor-imagen {
  display: block;
  position: relative;
}

#barra .imagen {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 14rem;
  flex-grow: 1;
  background-clip: content-box;
  transition: 500ms;
}

#barra .imagen:hover {
  scale: 110%;
}

#barra .contenedor-texto {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 14rem;
  padding: 20px;
}

#barra .contenedor-texto h3 {
  font-size: 2rem;
  font-weight: 700;
  padding: 10px 0;
  color: #E53E1F;
}

#barra h5 {
  font-size: 1.5rem;
}

.card-servicios:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.3333333333);
}

section .animate {
  opacity: 0;
  filter: blur(9px);
  transition: 2s;
  transform: scale(0.5);
}

section.show-animate .animate {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}

#servicios {
  width: 100vw;
  height: 100vh;
  background-color: #2C2C2C;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#servicios .cards {
  width: 990px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#servicios .card {
  background-color: black;
  padding: 40px 20px;
  border-radius: 5px;
  border: 3px solid white;
}
#servicios h2 {
  color: white;
  font-weight: 700;
  text-align: center;
}

#servicios .margen {
  padding: 10px;
}

#reunion {
  width: 100vw;
  height: 80vh;
  background-color: #a0a0a0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#reunion .espacio {
  padding: 30px 0;
}
#reunion .tarjeta {
  width: 990px;
  height: 22rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #2C2C2C;
}
#reunion .tarjeta .texto1 {
  width: 49%;
  height: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  background-color: black;
}
#reunion .tarjeta .texto1 h4 {
  font-size: 3.5rem;
}
#reunion .tarjeta .texto {
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  line-height: 100px;
}

#creative {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/istockphoto-2165505447-1024x1024.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#creative .espacio {
  padding: 30px 0;
}
#creative .tarjeta {
  width: 990px;
  height: 22rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #2C2C2C;
}
#creative .tarjeta .texto1 {
  width: 49%;
  height: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  background-color: black;
}
#creative .tarjeta .texto1 h4 {
  font-size: 3.5rem;
}
#creative .tarjeta .texto {
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  line-height: 100px;
}

#header-foto {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-foto .imagen1 {
  background-image: url(img/istockphoto-2165505447-1024x1024.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
#header-foto .imagen2 {
  background-image: url(img/istockphoto-694960328-1024x1024.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
#header-foto .imagen3 {
  background-image: url(img/istockphoto-1019702098-1024x1024.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
#header-foto .imagen4 {
  background-image: url(img/istockphoto-1759364452-1024x1024.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

#header-foto h1 {
  color: #E53E1F;
  font-size: 6rem;
  font-weight: 700;
  color: #E53E1F;
  text-align: center;
}

#modulo {
  width: 100vw;
  height: 100vh;
  background-color: #2C2C2C;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
#modulo .frase {
  width: 990px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
#modulo .frase h2 {
  font-size: 5rem;
  color: white;
  text-align: center;
  transition-timing-function: cubic-bezier(1, -0.01, 0.96, 1.07);
}
#modulo .frase h4 {
  font-size: 1.8rem;
  color: #E53E1F;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
#modulo .frase h3 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  justify-content: center;
  padding: 0 90px;
  line-height: 1.2;
  padding-top: 20px;
  animation-delay: 3s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

section .animate {
  opacity: 0;
  filter: blur(9px);
  transition: 2s;
  transform: scale(0.5);
}

section.show-animate .animate {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}

#modulo .fraselegal {
  width: 990px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

#modulo .fraselegal h2 {
  font-size: 4rem;
  color: white;
  text-align: center;
  transition-timing-function: cubic-bezier(1, -0.01, 0.96, 1.07);
}

#modulo .fraselegal h5 {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  transition-timing-function: cubic-bezier(1, -0.01, 0.96, 1.07);
}

#modulo .fraselegal h4 {
  font-size: 1.6rem;
  color: #E53E1F;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  transition: transform 1s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

#modulo .fraselegal h3 {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  justify-content: center;
  padding: 0 90px;
  line-height: 1.6;
  padding-top: 20px;
  transition: transform 1s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

#modulo .fraselegal .texto {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 900px;
}

#plataformas {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  animation: color 4s infinite;
}

#plataformas .cards {
  width: 990px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
}

#plataformas .card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 3px solid white;
  background-color: transparent;
  padding: 30px 0;
  white-space: nowrap;
}

#plataformas .card h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#plataformas h3:hover {
  color: #E53E1F;
  scale: 1.1;
}

#plataformas .margen {
  padding: 10px;
}

#plataformas .card i {
  font-size: 1.5rem;
  padding-right: 10px;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#mensaje {
  width: 100vw;
  height: 40vh;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#mensaje .cards {
  width: 990px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
  overflow-x: hidden;
}

#mensaje .card {
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 3px solid white;
  padding: 30px 0;
  animation: color 4s infinite;
}

#mensaje .card h3 {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  transition-timing-function: cubic-bezier(1, -0.01, 0.96, 1.07);
}

#mensaje h3:hover {
  color: #E53E1F;
  scale: 1.1;
}

#mensaje .margen {
  padding: 10px;
}

section .animacion {
  opacity: 0;
  filter: blur(9px);
  transition: 2s;
  transform: translateX(100%);
}

section.show-animacion .animacion {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

#piedepagina {
  margin: 0 auto;
  width: 100vw;
  height: 5rem;
  background-color: #121212;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
section h2 {
  font-size: 6rem;
  color: white;
  text-align: center;
}
section h4 {
  font-size: 1.8rem;
  color: #E53E1F;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
}
section h3 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  justify-content: center;
  padding: 0 90px;
  line-height: 1.2;
  padding-top: 20px;
}

section .animate {
  transition: 1s;
}

.sec-tres .animate {
  transform: scale(0.7);
  background-color: yellowgreen;
}

.sec-tres.show-animate .animate {
  transform: scale(1);
  background-color: yellowgreen;
}

/*# sourceMappingURL=style.css.map */
