*
{margin: 0;padding: 0;box-sizing: border-box;

font-family: "DM Sans", sans-serif;}

html{
font-size: 62.5% ;    }

body {background: whitesmoke;
}
.flexone{flex: 1;}

.groups{margin: 0 auto;width: 900px;padding: 20px 1px;height: auto;}
.groups li{position: relative;list-style: none;background: #fff;border-radius: 12px;
    box-shadow: 0 3px 4px 0 #0001;overflow: hidden;margin-bottom: 40px;transition: all 0.3s;}
.groups li:hover{transform: scale(1.04);box-shadow: 0 4px 14px 0 #0005;}



.nombrezona{
    font-size: 2.4rem;
    font-weight: 700;
    padding:   30px 0;
}



/* seccion presentacion */
.presentacion{
    width: 900px;
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px 30px;
    margin-top: 30px;
}
.presentacion .presentacion1{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: linear-gradient(to bottom right,#e3edf2, #c5e0fb);
    border-radius: 12px;
    padding:  20px;
    min-width: 350px;
}
.presentacion .logo {
    background-image: url(../img/icononegro.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 120px;
    display: flex;
    flex-grow: 1;
    padding: 10px;
    align-content: center;
}
.presentacion .texto {
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    flex-grow: 1;
    padding:  30px;
    text-align: none;
    text-align-last: left;
    hyphens: auto;
    text-indent: 0px;
}
.presentacion .texto h2 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3rem;
    padding: 10px 0;
}
.presentacion .texto h6 {
    font-size: 1.4rem;
    font-weight: 700;
}
.presentacion .texto h5 {
    font-size: 1.6rem;
    font-weight: 500;
}

/* servicios */
.groups .card1a{overflow: hidden;display: block; background-color: #FFF7DB;}
.groups .card1b{overflow: hidden;display: block; background-color: #c5e0fb;}

.groups .card1a .foto1 {
background-image: url(../img/servicio1.jpg);}
.groups .card1b .foto2 {
background-image: url(../img/servicio2.jpg);}

.card1a   span{
background-color: #f2b90c;
padding: 3px 15px;
border-radius: 12px 0;
font-size: 1.4rem;
font-weight: 600;
}
.card1b   span{
background-color: #1E88E5;
padding: 3px 15px;
border-radius: 12px 0;
font-size: 1.4rem;
font-weight: 600;
}
.titulo  {
font-size: 2.6rem;
font-weight: 600;
padding: 15px 0;
}
.detalle  {
font-size: 1.4rem;
}

.groups .image-session1{float: left;overflow: hidden;margin-right: 20px;}
.groups .image-session1 .image{width: 350px; min-width: 330px; height: 32rem;display: block;background-size: cover;
    background-position: center; background-repeat: no-repeat;}

.groups .meta-sission1{position: relative;padding: 15px;display: block;height: 32rem;}
.groups .meta-sission1 .head{display: flex; margin: 0; }


.meta-sission1 .head .per input{display: block;font-size: 10px;text-align: right;}
.meta-sission1 .head .per input{-webkit-appearance: none;height: 5px;border-radius: 5px;background: #0001;
    margin-bottom: 4px;overflow: hidden;}
.meta-sission1 .head .per input::-webkit-slider-thumb{-webkit-appearance: none;width: 0;
    box-shadow: -100px 0 0 100px #0075ff;}


.groups .card1a .footer1 .btncontacto{position: absolute;bottom: 20px;right: 25px;background: #f2b90c;
        color: #fff;line-height: 2.2;padding: 0 60px;border-radius: 8px;text-decoration: none; 
        text-transform: uppercase; font-weight: 700; border: none;
      font-size: 1.4rem;  box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}
.groups .card1a .footer1 .btncontacto:hover{box-shadow: 0 3px 8px 0 #0005;background: #ffac4b;right: 15px;}
.groups .card1a .footer1 .btncontacto:active{box-shadow: 0 3px 8px 0 #0005;background: #ff9c08;right: 15px;}

    
.groups .card1b .footer1 .btncontacto{position: absolute;bottom: 20px;right: 25px;background: #1E88E5;
    color: #fff;line-height: 2.2;padding: 0 60px;border-radius: 8px;text-decoration: none; 
    text-transform: uppercase; font-weight: 700; border: none;
  font-size: 1.4rem;  box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}
.groups .card1b .footer1 .btncontacto:hover{box-shadow: 0 3px 8px 0 #0005;background: #0a4da6;right: 15px;}
.groups .card1b .footer1 .btncontacto:active{box-shadow: 0 3px 8px 0 #0005;background: #030a8c;right: 15px;}


/* card detalle servicios profesionales  */


.groups .cardservicios{overflow: hidden;display: block; background-color: #e3edf2;}
.groups .card1a{overflow: hidden;display: block; background-color: #FFF7DB;}
.groups .card1b{overflow: hidden;display: block; background-color: #c5e0fb;}

.groups .cardservicios .foto1 {
background-image: url(../img/grupo1.jpg);}
.groups .cardservicios .foto2 {
background-image: url(../img/grupo2.jpg);}
.groups .cardservicios .foto3 {
background-image: url(../img/grupo3.jpg);}

.cardservicios   span{
background-color: #f2b90c;
padding: 5px 15px;
border-radius: 12px 0;
font-size: 1.2rem;
font-weight: 600;
}

.cardservicios .tituloservicios  {
     font-size: 2.2rem;
     font-weight: 600;
     padding: 15px 0;
 }
.cardservicios .detalle  {
    font-size: 1.4rem;
}

.groups .image-session1{float: left;overflow: hidden;margin-right: 20px;}
.groups .image-session1 .image{width: 350px; min-width: 330px; height: 32rem;display: block;background-size: cover;
    background-position: center; background-repeat: no-repeat;}

.groups .meta-sission1{position: relative;padding: 15px;display: block;height: 32rem;}
.groups .meta-sission1 .head{display: flex; margin: 0 auto; }
.groups .meta-sission1 .head .catogry{list-style: none;text-decoration: none;font-size: 1.4rem;
    font-weight: 700;color:white;

    text-transform: uppercase; line-height: 22px;
    padding: 0 0 10px 0;}


.meta-sission1 .head .per input{display: block;font-size: 10px;text-align: right;}
.meta-sission1 .head .per input{-webkit-appearance: none;height: 5px;border-radius: 5px;background: #0001;
    margin-bottom: 4px;overflow: hidden;}
.meta-sission1 .head .per input::-webkit-slider-thumb{-webkit-appearance: none;width: 0;
    box-shadow: -100px 0 0 100px #0075ff;}
.groups .body1 .title{height: 60px;overflow: hidden;font-size: auto; color: #101923;font-weight: 400; }

.cardservicios .meta-sission1  {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cardservicios .body1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}






/* botones servicios  */


.groups .cardservicios .footer2 .btn1{position: absolute;bottom: 20px;left: 30px;
    background-color: transparent;
    border: 2px solid #1E88E5 ;
   line-height: 2.2;padding: 0 10px;border-radius: 10px;text-decoration: none; 
    text-transform: uppercase; font-weight: 700; 
  font-size: 1.2rem;  box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}

.groups .cardservicios .footer2 .btn1:hover{box-shadow: 0 3px 8px 0 #0005;background: #030a8c;left: 10px;
color: white; border: none;}

.groups .cardservicios .footer2 .btn2{position: absolute;bottom: 20px;right: 30px;background: #1E88E5;
    color: #fff;line-height: 2.2;padding: 0 10px;border-radius: 10px;text-decoration: none; 
    text-transform: uppercase; font-weight: 600; border: none; text-decoration: none;
  font-size: 1.2rem;  box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}


.groups .cardservicios .footer2 .btn2:hover{box-shadow: 0 3px 8px 0 #0005;background: #030a8c;right: 10px;
    border: none; text-decoration: none;}



/* card perfiles profesionales  */


#perfiles {
    width: 100%;
    margin: 0 auto;

    font-family: "DM Sans", sans-serif;

}
#perfiles .perfil123{
    background-color: #BDD9F2;
    background: linear-gradient(to bottom right,#e3edf2, #c5e0fb);
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 0 0;
    border-radius: 10px;
    min-height: 30vh;
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }
#perfiles .detalle   .listado{
    list-style: square;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    margin: 0;
    box-shadow: none;
    padding: 0;
    list-style: square;
    justify-content: left;
    background-color: transparent;
    font-size: 1.4rem;
    font-size: 800;
    transform: none;
    font-weight: bold;
    }
#perfiles .perfil123 .perfil1{
    background-image: url(../img/Alicia\(1\).jpg);
    background-size: cover;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    flex-basis: 260px;
    flex-grow: 1;
}
#perfiles .perfil123 .perfil2{
    background-image: url(../img/danielaf2.jpg);
    background-size: cover;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    flex-basis: 260px;
    flex-grow: 1;
}
#perfiles  .perfil123 .perfil3{
    background-image: url(../img/Alejandro.jpg);
    background-size: cover;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin: auto;
    display: inline-block;
    margin-bottom: 30px;
    flex-basis: 260px;
    flex-grow: 1;
}
#perfiles .perfil123 .perfil1:hover ,  .perfil2:hover , .perfil3:hover {
    background-size: cover;
    transition: 500ms;
    transform: scale(1.04);box-shadow: 0 4px 14px 0 #0005;
 }
#perfiles .detalle{
    background-color: #f6f7f1;
    padding: 15px 10px 1px 10px;
    border-radius: 10px;
    flex-basis: 290px;
    max-width: 290px;
    flex-grow: 1;
    margin-bottom: 30px;
}
#perfiles .nombre  {
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#perfiles .nombre :hover{
    transform: scale(1.05);
    transition: all 300ms;
    background-color: #030a8c;
}
#perfiles .nombre   span{
    background-color:#0a4da6;
    padding: 5px 18px;
    border-radius: 12px 0;
    align-items:center;
}
/* boton perfil desplegar */

#perfiles .botonderecha{
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
#perfiles .botonperfil{
    background-color: #f6f7f1;
    border: 2px solid #1E88E5 ;
    color: #1E88E5;
    border-radius: 7px;
    padding: 5px 70px;
    font-weight: 800;   
    text-transform: uppercase;
    font-size: 1.4rem;
}
#perfiles .flecha{
    padding-left: 10px;
}
#perfiles .btn :hover{
    background-color: #1E88E5;
    color: white;
    border: 2px solid #1E88E5 ;

}
#perfiles .btn :active{
    background-color: #030a8c;
    border: 2px solid #030a8c ;
    color: white;
}


/* seccion socias */

#nosotrossocias{
    width: 90%;
    margin: 0 auto;

}


/*secion perfiles socias*/

#perfilessocias {
    width: 100%;
    margin: 0 auto;
}
#perfilessocias .perfil1234{
    background: linear-gradient(to bottom right,#e3edf2, #c5e0fb);
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 0 0;
    border-radius: 10px;
    max-width: 900px;
    min-height: 30vh;
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }
#perfilessocias .detalle  .listado{
    list-style: square;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    margin: 0;
    box-shadow: none;
    padding: 0;
    list-style: square;
    justify-content: left;
    background-color: transparent;
    font-size: 1.4rem;
    font-size: 800;
    transform: none;
    margin-bottom: 20px;
    font-weight: bold;
}
#perfilessocias .perfil1234 .perfil1{
    background-image: url(../img/meugenia.jpg);
    background-size: cover;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    flex-basis: 260px;
    max-width: 280px;
    flex-grow: 1;
}
#perfilessocias .perfil1234 .perfil2{
    background-image: url(../img/geraldine2.jpg);
    background-size: cover;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    flex-basis: 260px;
    max-width: 280px;
    flex-grow: 1;
}
#perfilessocias  .perfil1234 .perfil3{
    background-image: url(../img/ximena.jpg);
    background-size: cover;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    flex-basis: 240px;
    max-width: 260px;
    flex-grow: 1;
}
#perfilessocias  .perfil1234 .perfil4{
    background-image: url(../img/monica.jpg);
    background-size: cover;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    flex-basis: 240px;
    max-width: 260px;
    flex-grow: 1;
}
#perfilessocias .perfil1234 .perfil1:hover ,  .perfil2:hover , .perfil3:hover,.perfil4:hover {
    background-size: cover;
    transition: 500ms;
    transform: scale(1.04);box-shadow: 0 4px 14px 0 #0005;
}
#perfilessocias .detalle{
    background-color: #f6f7f1;
    padding: 15px 0 1px 0;
    border-radius: 10px;
    flex-basis: 260px;
    max-width: 300px;
    flex-grow: 1;
    margin-bottom: 30px;
}
#perfilessocias .nombre  {
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    padding: 7px;
}
#perfilessocias .nombre :hover{
    transform: scale(1.05);
    transition: all 300ms;
    background-color: #030a8c;
}
#perfilessocias .nombre   span{
    background-color:#1E88E5;
    padding: 5px 18px;
    border-radius: 12px 0;
    align-items:center;
}


/* card noticias  */



.groups .card2{overflow: hidden;display: block; background-color: #f6f7f1 ; }
.groups .card2 .foto1 {
    background-image: url(../img/banner_final.jpg);}
.groups .card2 .foto2 {
    background-image: url(../img/miami1.jpg);}
.groups .card2 .foto3 {
    background-image: url(../img/reunionroma1.jpg);}
.groups .card2 .foto4 {
    background-image: url(../img/taller1.jpg);}
.groups .card2 .foto5 {
    background-image: url(../img/rancagua.jpg);}
.groups .card2 .foto6 {
    background-image: url(../img/daniela-conferencia.jpg);}
.groups .card2 .foto7 {
    background-image: url(../img/grupomanifiesto.jpg);}
.groups .card2 .foto8 {
    background-image: url(../img/gubbio.jpg);}
.groups .card2 .foto9 {
    background-image: url(../img/foto2F.jpg);}
.groups .card2 .foto10 {
    background-image: url(../img/italia.jpg);}
.groups .card2 .foto11 {
    background-image: url(../img/jornada.jpg);}
.groups .card2 .foto12 {
    background-image: url(../img/noticia1.jpg);}


.card2   .span{
    background-color: #101923;
    padding: 5px 15px;
    border-radius: 10px 0;
}
.card2 h3{
    font-size: 2.2rem;
   font-weight: 600;
   padding:  0;
   color: #21242a;
}
.card2 h5{
    font-size: 1.4rem;
    font-weight: 400;
    padding: 10px 0;
}

.groups .card2 .image-session2{float: left;overflow: hidden;margin-right: 20px;}
.groups .card2 .image-session2 .image{width: 350px; min-width: 330px; height: 28rem;display: block;background-size: cover; background-position: center; background-repeat: no-repeat;}

.groups .card2 .meta-sission2{position: relative;padding: 15px;display: block;height: 28rem;}
.groups .card2 .meta-sission2 .head{display: flex; margin: 5px 0; }
.groups .card2 .meta-sission2 .head .autor{list-style: none;text-decoration: none;font-size: 1.2rem;
    font-weight: 600;color: white;
    text-transform: uppercase;
    }
.groups .card2 .footer2 .btnlibros{position: absolute;bottom: 20px;right: 25px;background: #1E88E5;
    color: #fff;line-height: 2.2;padding: 0 60px;border-radius: 10px;text-decoration: none; 
    text-transform: uppercase; font-weight: 700; border: none;
  font-size: 1.4rem;  box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}
.groups .card2 .footer2 .btnlibros:hover{box-shadow: 0 3px 8px 0 #0005;background: #030a8c;right: 15px;}

.groups .card2 .footer2 .btnlink{position: absolute;bottom: 20px;right: 25px;background: #1E88E5;
    color: #fff;line-height: 2.2;padding: 0 60px;border-radius: 10px;text-decoration: none; 
    text-transform: uppercase; font-weight: 600; border: none; text-decoration: none;
  font-size: 1.4rem;  box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}

  .groups .card2 .footer2 .btnlink a {color: white; text-decoration: none;
  font-size: 1.4rem; }

.groups .card2 .footer2 .btnlink:hover{box-shadow: 0 3px 8px 0 #0005;background: #030a8c;right: 15px;
    border: none; text-decoration: none;}

.textolargonoticias {
    padding: 20px;
    background-color: #f2f8fc;
    margin-bottom: 50px;
    border-radius: 10px;
}
.textolargonoticias h6 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
}





/* boton separador seccion  */

.zonadesgloce {
    display: flex;
    justify-content: right;
   
}

.botondesgloce {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.2rem;
    background-color: #c5e0fb;
    padding: 8px 16px;
    border-radius: 16px;
    text-decoration: none; 
    text-transform: uppercase; 
    border: none;
    box-shadow: 0 1px 6px 0 #0004;
    transition: all 0.3s;
    border: none;
}

.zonadesgloce  .botondesgloce:hover {
    box-shadow: 0 3px 8px 0 #0005;background-color: #030a8c;right: 15px;
    border: none; color: white; right: 15px;
}

/* card libros  */

.groups .card4{overflow: hidden;display: block; background-color: #f5f5eb ;}
.groups .card4 .foto1 {
    background-image: url(../img/libro_1.jpg);}
.groups .card4 .foto2 {
    background-image: url(../img/libro_2.jpg);}
.groups .card4 .foto3 {
    background-image: url(../img/libro_3.jpg);}
.groups .card4 .foto4 {
    background-image: url(../img/libro_4.jpg);}
.groups .card4 .foto5 {
    background-image: url(../img/libro_5.jpg);}
.groups .card4 .foto6 {
    background-image: url(../img/libro_6.jpg);}
.groups .card4 .foto7 {
    background-image: url(../img/libro_7.jpg);}

.card4   .span{
  background-color: #23262a;
    padding: 5px 15px;
    border-radius: 10px 0;
}
.card4   h3{
    font-size: 2.4rem;
   font-weight: 700;
   padding:  0;
   text-transform: uppercase;
   margin: 5px 0;
}
.card4   h4{
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0;
}
.card4   h6{
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 10px;
}
.groups .card4 .image-session2{float: left;overflow: hidden;margin-right: 20px;}
.groups .card4 .image-session2 .image{width: 350px;min-width: 330px; height: 24rem;display: block;background-size: cover;
    background-position: center; background-repeat: no-repeat;}

.groups .card4 .meta-sission2{position: relative;padding: 12px;display: block;height:24rem;}
.groups .card4 .meta-sission2 .head{display: flex; margin: 5px 0; }
.groups .card4 .meta-sission2 .head .autor{list-style: none;text-decoration: none;font-size: 1.2rem;
    font-weight: 700;color: white; text-transform: uppercase;}

.groups .card4 .footer2 .btnlibros{position: absolute;bottom: 20px;right: 25px;background: #f2b90c;
    color: #fff;line-height: 2.2;padding: 0 60px;border-radius: 10px;text-decoration: none; 
    text-transform: uppercase; font-weight: 600; border: none;
  font-size: 1.4rem; box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}
.groups .card4 .footer2 .btnlibros:hover{box-shadow: 0 3px 8px 0 #0005;background: #ffac4b;right: 15px;}

.textolargolibros {
    padding: 40px 30px;
    background-color:#fffff0;
    margin-bottom: 70px;
    border-radius: 10px;
}
.textolargolibros  h6{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;  
}


/* card diplomado  */

.groups .carddiplomado {overflow: hidden;display: flex;flex-wrap: wrap-reverse; background-color: #001d7e ;
    justify-content: space-between;
}

.groups .carddiplomado .fotodiplo {
    background-image: url(../img/diplomado1.jpg);
}
.groups .carddiplomado .span {    
    background-color: #ffac4b;
    padding: 5px 15px;
    border-radius: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    font-size: 1.2rem;    
}
.groups .carddiplomado .meta-sission3 .head{display: flex; margin: 5px 0; }
.carddiplomado   h2 {
    font-size: 2.4rem;
    font-weight: 700;
    padding: 10px 0 5px 0; 
    color: white;
    
}
.carddiplomado   h5{
    font-size: 1.6rem;
    font-weight: 600;
    padding: 5px 0 ;
    color: white;
}

.carddiplomado .image-session3{float: right;overflow: hidden;margin-right: 0}
.carddiplomado .image-session3 .image{ width: 360px; min-width: 350px; height: 30rem;display: block;
    background-size: cover; background-position: center; background-repeat: no-repeat;}
.groups  .carddiplomado  .meta-sission3{ width: 500px; position: relative;padding: 25px;display: flex;
    height:30rem; align-items: center;
}

.groups   .carddiplomado .footer3 .centrar{  
    display: flex;  justify-content: center;}

.groups   .carddiplomado .footer3 .btn{  
    display: block; position: absolute;bottom: 20px;background: #1E88E5;
    line-height: 2.2;padding: 0 40px;border-radius: 8px; 
    text-transform: uppercase; border: none;  box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}

  .groups .carddiplomado .footer3 .btn a {color: white; text-decoration: none;
    font-size: 1.4rem;  font-weight: 600}

.groups .carddiplomado .footer3 .btn:hover{box-shadow: 0 3px 8px 0 #0005; 
background-color: #1E88E5; font-weight: 700; right: 15px ;}

.groups .carddiplomado .footer3 .btn:active{box-shadow: 0 3px 8px 0 #0005; 
    background-color: white; font-weight: 700; right: 15px ; color: #030a8c;}

/* card destacado  */
 



.groups .carddestacado{overflow: hidden;display: flex;flex-wrap: wrap-reverse; background-color: #e3edf2 ;

    justify-content: space-between;
}
.groups .carddestacado .fotomanifiesto {
    background-image: url(../img/textomanifiesto.jpg);
}
.groups .carddestacado .fotodiploma {
    background-image: url(../img/diploma.jpg);
}
.groups .carddestacado .fotoconferencia {
    background-image: url(../img/conferenciaitalia.jpg);
}
.groups .carddestacado .fotodiplo {
    background-image: url(../img/diplomado1.jpg);
}

.carddestacado   h2{
    font-size: 2.4rem;
   font-weight: 700;
   padding: 10px 0;
   color: black;
}
.carddestacado   h5{
    font-size: 1.6rem;
    font-weight: 600;
    padding: 10px 0 ;
    color: black;
}
.carddestacado   h6{
    font-size: 1.4rem;
    font-weight: 400;
    padding: 10px 0 ;
    color: black;
}


.carddestacado .image-session3{float: right;overflow: hidden;margin-right: 0}
.carddestacado .image-session3 .image{
    
    width: 350px; min-width: 350px; height: 30rem;display: block;background-size: cover; 
    background-position: center; background-repeat: no-repeat;}

.groups  .carddestacado  .meta-sission3{ width: 500px; position: relative;padding: 25px;display: flex;
    height:30rem;

align-items: center;
}


.groups   .carddestacado .footer3 .btn{  
    
    display: block;
    position: absolute;bottom: 20px;background: #030a8c;
    line-height: 2.2;padding: 0 40px;border-radius: 8px; 
    text-transform: uppercase; border: none;  box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}

  .groups .carddestacado .footer3 .btn a {color: white; text-decoration: none;
    font-size: 1.4rem;  font-weight: 600}

.groups .carddestacado .footer3 .btn:hover{box-shadow: 0 3px 8px 0 #0005; 
background-color: #1E88E5; font-weight: 700; right: 15px ;}






@media screen and (max-width:900px){.presentacion{    width: 96%;}
    .groups li:hover{    transform: none;    box-shadow: none;}
}
@media screen and (max-width:550px){.presentacion1{    width: 96%; padding: 5px;
height: auto;}    
}




@media screen and (max-width:900px){.groups{    width: 96%;}
    .groups li:hover{    transform: none;    box-shadow: none;}
}
@media screen and (max-width:550px){.groups{    width: 96%; padding: 5px;
height: auto;}    
}

@media screen and (max-width:550px){ .cardservicios .meta-sission1  {   
height: auto;      }    
}
@media screen and (max-width:550px){ .cardservicios  .body1  {   
padding-bottom: 45px;}    
}
@media screen and (max-width:550px){ .card1b .meta-sission1  {   
    height: auto;      }    
    }
    @media screen and (max-width:550px){ .card1b  .body1  {   
    padding-bottom: 45px;}    
    }
    @media screen and (max-width:550px){ .card1a .meta-sission1  {   
        height: auto;      }    
        }
        @media screen and (max-width:550px){ .card1a  .body1  {   
        padding-bottom: 45px;}    
        }
    
/* card diplomado  */
        @media screen and (max-width:550px){ .carddiplomado .meta-sission3  {   
            height: auto;      }    
            }
            @media screen and (max-width:550px){ .carddiplomado  .body  {   
            padding-bottom: 30px;}    
            }
        

/* card destacado  */

@media screen and (max-width:550px){ .carddestacado .meta-sission3  {   
    height: auto;      }    
    }
    @media screen and (max-width:550px){ .carddestacado  .body  {   
    padding-bottom: 3px;}    
    }




@media screen and (max-width:560px){.groups .image-session1{    float: none; padding: 2px;   margin-right: 0;}
    .groups .image-session1 .image{width: 100%;}
}

@media screen and (max-width:560px){.groups .card4 .image-session2{    float: none; padding: 2px;   margin-right: 0;}
 .card4   .groups .image-session2 .image{width: 100%;}
}

@media screen and (max-width:560px){.groups .image-session3{    float: none; padding: 2px;    margin-right: 0;}
    .groups .image-session3 .image{width: 100%;}
}

@media screen and (max-width:560px){.groups .card2 .image-session2{ float: none;  padding: 2px;   margin-right: 0;}
 .card2 .groups .image-session2 .image{width: 100%;}
}


