*
{margin: 0;padding: 0;box-sizing: border-box;

font-family: "DM Sans", sans-serif;}

html{
font-size: 62.5% ;    }

body {background: #eee;
}
.flexone{flex: 1;}

.groups{margin: 0 auto;width: 900px;padding: 20px 1px;height: auto;}
.groups li{position: relative;list-style: none;background: #fff;border-radius: 12px;
    box-shadow: 0 3px 4px 0 #0001;overflow: hidden;margin-bottom: 30px;transition: all 0.3s;}
.groups li:hover{transform: scale(1.04);box-shadow: 0 4px 14px 0 #0005;}

/* servicios */
.groups .card{overflow: hidden;display: block;}
.groups .card1a{overflow: hidden;display: block; background-color: #FFF7DB;}
.groups .card1b{overflow: hidden;display: block; background-color: #c5e0fb;}

.groups .card1a .foto1 {
background-image: url(/assets/img/servicio1.jpg);}
.groups .card1b .foto2 {
background-image: url(/assets/img/servicio2.jpg);}

.card1a   span{
background-color: #f2b90c;
padding: 3px 15px;
border-radius: 12px 0;
font-size: 1.4rem;
font-weight: 600;
}
.card1b   span{
background-color: #1E88E5;
padding: 3px 15px;
border-radius: 12px 0;
font-size: 1.4rem;
font-weight: 600;
}
.titulo  {
font-size: 2.6rem;
font-weight: 600;
padding: 15px 0;
}
.detalle  {
font-size: 1.4rem;
}

.groups .image-session1{float: left;overflow: hidden;margin-right: 20px;}
.groups .image-session1 .image{width: 350px; min-width: 330px; height: 32rem;display: block;background-size: cover;
    background-position: center; background-repeat: no-repeat;}

.groups .meta-sission1{position: relative;padding: 15px;display: block;height: 32rem;}
.groups .meta-sission1 .head{display: flex; margin: 0; }


.meta-sission1 .head .per input{display: block;font-size: 10px;text-align: right;}
.meta-sission1 .head .per input{-webkit-appearance: none;height: 5px;border-radius: 5px;background: #0001;
    margin-bottom: 4px;overflow: hidden;}
.meta-sission1 .head .per input::-webkit-slider-thumb{-webkit-appearance: none;width: 0;
    box-shadow: -100px 0 0 100px #0075ff;}


.groups .card1a .footer1 .btncontacto{position: absolute;bottom: 20px;right: 25px;background: #f2b90c;
        color: #fff;line-height: 2.2;padding: 0 60px;border-radius: 8px;text-decoration: none; 
        text-transform: uppercase; font-weight: 700; border: none;
      font-size: 1.4rem;  box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}
.groups .card1a .footer1 .btncontacto:hover{box-shadow: 0 3px 8px 0 #0005;background: #ffac4b;right: 15px;}
.groups .card1a .footer1 .btncontacto:active{box-shadow: 0 3px 8px 0 #0005;background: #ff9c08;right: 15px;}

    
.groups .card1b .footer1 .btncontacto{position: absolute;bottom: 20px;right: 25px;background: #1E88E5;
    color: #fff;line-height: 2.2;padding: 0 60px;border-radius: 8px;text-decoration: none; 
    text-transform: uppercase; font-weight: 700; border: none;
  font-size: 1.4rem;  box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}
.groups .card1b .footer1 .btncontacto:hover{box-shadow: 0 3px 8px 0 #0005;background: #0a4da6;right: 15px;}
.groups .card1b .footer1 .btncontacto:active{box-shadow: 0 3px 8px 0 #0005;background: #030a8c;right: 15px;}


/* card detalle servicios profesionales  */


.groups .cardservicios{overflow: hidden;display: block; background-color: #e3edf2;}
.groups .card1a{overflow: hidden;display: block; background-color: #FFF7DB;}
.groups .card1b{overflow: hidden;display: block; background-color: #c5e0fb;}

.groups .cardservicios .foto1 {
background-image: url(/assets/img/grupo1.jpg);}
.groups .cardservicios .foto2 {
background-image: url(/assets/img/grupo2.jpg);}
.groups .cardservicios .foto3 {
background-image: url(/assets/img/grupo3.jpg);}

.cardservicios   span{
background-color: #f2b90c;
padding: 5px 15px;
border-radius: 12px 0;
font-size: 1.2rem;
font-weight: 600;
}

.cardservicios .tituloservicios  {
     font-size: 2.2rem;
     font-weight: 600;
     padding: 15px 0;
 }
.cardservicios .detalle  {
    font-size: 1.4rem;
    
}


.groups .image-session1{float: left;overflow: hidden;margin-right: 20px;}
.groups .image-session1 .image{width: 350px; min-width: 330px; height: 32rem;display: block;background-size: cover;
    background-position: center; background-repeat: no-repeat;}

.groups .meta-sission1{position: relative;padding: 15px;display: block;height: 32rem;}
.groups .meta-sission1 .head{display: flex; margin: 0 auto; }
.groups .meta-sission1 .head .catogry{list-style: none;text-decoration: none;font-size: 1.4rem;
    font-weight: 700;color:white;

    text-transform: uppercase; line-height: 22px;
    padding: 0 0 10px 0;}


.meta-sission1 .head .per input{display: block;font-size: 10px;text-align: right;}
.meta-sission1 .head .per input{-webkit-appearance: none;height: 5px;border-radius: 5px;background: #0001;
    margin-bottom: 4px;overflow: hidden;}
.meta-sission1 .head .per input::-webkit-slider-thumb{-webkit-appearance: none;width: 0;
    box-shadow: -100px 0 0 100px #0075ff;}
.groups .body1 .title{height: 60px;overflow: hidden;font-size: auto; color: #101923;font-weight: 400; }

.cardservicios .meta-sission1  {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cardservicios .body1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}






/* botones servicios  */


.groups .cardservicios .footer2 .btn1{position: absolute;bottom: 20px;left: 25px;
    background-color: transparent;
    border: 2px solid #1E88E5 ;
    color: #1E88E5;
   line-height: 2.2;padding: 0 60px;border-radius: 10px;text-decoration: none; 
    text-transform: uppercase; font-weight: 700; 
  font-size: 1.4rem;  box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}

.groups .cardservicios .footer2 .btn1:hover{box-shadow: 0 3px 8px 0 #0005;background: #030a8c;left: 15px;
color: white; border: none;}

.groups .cardservicios .footer2 .btn2{position: absolute;bottom: 20px;right: 25px;background: #1E88E5;
    color: #fff;line-height: 2.2;padding: 0 60px;border-radius: 10px;text-decoration: none; 
    text-transform: uppercase; font-weight: 600; border: none; text-decoration: none;
  font-size: 1.4rem;  box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}


.groups .cardservicios .footer2 .btn2:hover{box-shadow: 0 3px 8px 0 #0005;background: #030a8c;right: 15px;
    border: none; text-decoration: none;}


/* card noticias  */



.groups .card2{overflow: hidden;display: block; background-color: #f6f7f1 ; }
.groups .card2 .foto1 {
    background-image: url(../assets/img/banner_final.jpg);}
    
.groups .card2 .foto2 {
    background-image: url(../assets/img/miami1.jpg);}
.groups .card2 .foto3 {
    background-image: url(./assets/img/reunionroma1.jpg);}
.groups .card2 .foto4 {
    background-image: url(./assets/img/taller1.jpg);}
.groups .card2 .foto5 {
    background-image: url(/assets/img/rancagua.jpg);}
.groups .card2 .foto6 {
    background-image: url(/assets/img/daniela-conferencia.jpg);}

.card2   .span{
    background-color: #101923;
    padding: 5px 15px;
    border-radius: 10px 0;
}
.card2 h3{
    font-size: 2.2rem;
   font-weight: 600;
   padding:  0;
   color: #21242a;
}
.card2 h5{
    font-size: 1.4rem;
    font-weight: 400;
    padding: 10px 0;
}

.groups .card2 .image-session2{float: left;overflow: hidden;margin-right: 20px;}
.groups .card2 .image-session2 .image{width: 350px;height: 26rem;display: block;background-size: cover;
    background-position: center; background-repeat: no-repeat;}

.groups .card2 .meta-sission2{position: relative;padding: 8px;display: block;height:26rem;}
.groups .card2 .meta-sission2 .head{display: flex; margin: 5px 0; }
.groups .card2 .meta-sission2 .head .autor{list-style: none;text-decoration: none;font-size: 1.2rem;
    font-weight: 600;color: white;
    text-transform: uppercase;
    }
.groups .card2 .footer2 .btnlibros{position: absolute;bottom: 20px;right: 25px;background: #1E88E5;
    color: #fff;line-height: 2.2;padding: 0 60px;border-radius: 10px;text-decoration: none; 
    text-transform: uppercase; font-weight: 700; border: none;
  font-size: 1.4rem;  box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}
.groups .card2 .footer2 .btnlibros:hover{box-shadow: 0 3px 8px 0 #0005;background: #030a8c;right: 15px;}

.groups .card2 .footer2 .btnlink{position: absolute;bottom: 20px;right: 25px;background: #1E88E5;
    color: #fff;line-height: 2.2;padding: 0 60px;border-radius: 10px;text-decoration: none; 
    text-transform: uppercase; font-weight: 600; border: none; text-decoration: none;
  font-size: 1.4rem;  box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}

  .groups .card2 .footer2 .btnlink a {color: white; text-decoration: none;
  font-size: 1.4rem; }

.groups .card2 .footer2 .btnlink:hover{box-shadow: 0 3px 8px 0 #0005;background: #030a8c;right: 15px;
    border: none; text-decoration: none;}


.textolargonoticias {
    padding: 20px;
    background-color: #f2f8fc;
    margin-bottom: 50px;
    border-radius: 10px;
}
.textolargonoticias h6 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8rem;
}

/* card libros  */

.groups .card4{overflow: hidden;display: block; background-color: #f5f5eb ;}
.groups .card4 .foto1 {
    background-image: url(/assets/img/libro_1.jpg);}
.groups .card4 .foto2 {
    background-image: url(/assets/img/libro_2.jpg);}
.groups .card4 .foto3 {
    background-image: url(/assets/img/libro_3.jpg);}
.groups .card4 .foto4 {
    background-image: url(/assets/img/libro_4.jpg);}
.groups .card4 .foto5 {
    background-image: url(/assets/img/libro_5.jpg);}
.groups .card4 .foto6 {
    background-image: url(/assets/img/libro_6.jpg);}
.groups .card4 .foto7 {
    background-image: url(/assets/img/libro_7.jpg);}

.card4   .span{
  background-color: #23262a;
    padding: 5px 15px;
    border-radius: 10px 0;
}
.card4   h3{
    font-size: 2.4rem;
   font-weight: 700;
   padding:  0;
   text-transform: uppercase;
   margin: 5px 0;
}
.card4   h4{
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0;
}
.card4   h6{
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 10px;
}
.groups .card4 .image-session2{float: left;overflow: hidden;margin-right: 20px;}
.groups .card4 .image-session2 .image{width: 300px;height: 22rem;display: block;background-size: cover;
    background-position: center; background-repeat: no-repeat;}

.groups .card4 .meta-sission2{position: relative;padding: 12px;display: block;height:22rem;}
.groups .card4 .meta-sission2 .head{display: flex; margin: 5px 0; }
.groups .card4 .meta-sission2 .head .autor{list-style: none;text-decoration: none;font-size: 1.2rem;
    font-weight: 700;color: white; text-transform: uppercase;}

.groups .card4 .footer2 .btnlibros{position: absolute;bottom: 20px;right: 25px;background: #f2b90c;
    color: #fff;line-height: 2.2;padding: 0 60px;border-radius: 10px;text-decoration: none; 
    text-transform: uppercase; font-weight: 600; border: none;
  font-size: 1.4rem; box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}
.groups .card4 .footer2 .btnlibros:hover{box-shadow: 0 3px 8px 0 #0005;background: #ffac4b;right: 15px;}

.textolargolibros {
    padding: 40px 30px;
    background-color:#fffff0;
    margin-bottom: 70px;
    border-radius: 10px;
}
.textolargolibros  h6{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8rem;  
}

/* card diplomado  */

.groups .carddiplo{overflow: hidden;display: flex;flex-wrap: wrap-reverse; background-color: #001d7e ;
}
.groups .carddiplo .fotodiplo {
    background-image: url(/assets/img/diplomado1.jpg);
}
.carddiplo   .span{
    background-color: #ffac4b;
    padding: 5px 15px;
    border-radius: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    font-size: 1.2rem;    
}
.carddiplo   h2{
    font-size: 2.4rem;
   font-weight: 600;
   padding: 10px 0;
   color: white;
}
.carddiplo   h5{
    font-size: 1.6rem;
    font-weight: 400;
    padding: 10px 0 ;
    color: white;
}
.groups .image-session3{float: right;overflow: hidden;margin-right: 0;}
.groups .image-session3 .image{width: 320px;height: 28rem;display: flex;background-size: cover;
    justify-content: right ;
    background-position: center; background-repeat: no-repeat;}

.groups .meta-sission3{ width: 500px; position: relative;padding: 30px;display: block;height:28rem;}
.groups .meta-sission3 .head{display: flex; margin: 10px 0;  }
.groups .meta-sission3 .head .title{list-style: none;text-decoration: none;color: white; 
    text-transform: uppercase;  box-shadow: 0 1px 6px 0 #0004 ;}


.groups .footer3 .btn{position: absolute;bottom: 20px;background: #1E88E5;
    color: #fff;line-height: 2.2;padding: 0 40px;border-radius: 8px;text-decoration: none; 
    text-transform: uppercase; font-weight: 600; border: none;
  font-size: 14px;  box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}
.groups .footer3 .btn:hover{box-shadow: 0 3px 8px 0 #0005;background: whitesmoke;
color: #0a4da6; font-weight: 700; right: 15px}









@media screen and (max-width:900px){.groups{    width: 96%;}
    .groups li:hover{    transform: none;    box-shadow: none;}
}
@media screen and (max-width:550px){.groups{    width: 96%; padding: 5px;}
    
}


@media screen and (max-width:560px){.groups .image-session1{    float: none; padding: 2px;   margin-right: 0;}
    .groups .image-session1 .image{width: 100%;}
}

@media screen and (max-width:560px){.groups .card4 .image-session2{    float: none; padding: 2px;   margin-right: 0;}
 .card4   .groups .image-session2 .image{width: 100%;}
}

@media screen and (max-width:560px){.groups .image-session3{    float: none; padding: 2px;    margin-right: 0;}
    .groups .image-session3 .image{width: 100%;}
}

@media screen and (max-width:560px){.groups .card2 .image-session2{ float: none;  padding: 2px;   margin-right: 0;}
 .card2 .groups .image-session2 .image{width: 100%;}
}


